.main-content {
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-content h2 {
    margin-bottom: 20px;
}

#redes {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    margin: 0 10px;
}

.social-link:last-child {
    margin-right: 0;
}

.social-link img {
    width: 20px;
    height: auto;
}

#redes a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.dark-mode #redes a {
    color: white;
}

#redes a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#redes svg {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.floating-bubble:hover {
    background-color: #0056b3;
    cursor: pointer;
}

/* Estilos generales para la sección sobre mí */
.sobre-mi-section {
    display: flex;
    flex-direction: row; /* Elementos en fila por defecto */
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sobre-mi-image img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sobre-mi-text {
    max-width: 600px;
}


#a {
    text-decoration: none;
    outline: none;
}
